@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

body{
    font-family: 'Yeon Sung', cursive;
}
:root{
    --primary-color : #94560fb0;
}
.navigation{
    background-color:var(--primary-color);
   
    color: white;
    text-align: center;
    padding: 2rem;  
    font-size: 30px;
    border-bottom-left-radius: 3rem;
}
textarea{
    padding: 2rem;
    margin : 1rem 0rem;
    width: 80%;
    height: 10vh;
    display: block;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.center-container{
    max-width: 600px;
    margin: auto;
    
}
.btn{
    padding: 1rem;
     width: 8rem;
    font-size: larger;
    margin-top: 1rem;
   
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-color: white;
}
.output{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem 0rem;
    height: 13vh;
    width: 86%;
    font-family: 'Yeon Sung', cursive;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    font-size: 25px;
}
.footer{
    background-color:var(--primary-color);
    padding: 3rem;
    color: white;
    font-size: 25px;
    text-align: center;
    border-top-right-radius: 3rem;
}
.groot-img{
    width: 40%;
}
.grooty-img{
    margin-left: 12rem;
    width: 37%;
    margin-top: -0.5rem;
    
}